.showDicom {
    grid-area: showDicom;
}

.ShowDataBase {
    grid-area: showDataBase;
}

.showDataBase_Button {
    width: 500px;
    height: 200px;

    position: relative;
    left: 25%;
    top: 380px;
    font-size: 60px;
}

.showDicom_Button {
    width: 500px;
    height: 200px;

    position: relative;
    left: 25%;
    top: 283px;
    font-size: 60px;
}


.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "showDicom showDataBase";

}




.icons img {
    width: 50px;
    animation: icon 7s linear infinite;
}

.icons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes icon {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.icons img:nth-child(1) {
    animation-delay: 2s;
    opacity: 0;
    width: 30px;
    animation-duration: 10s;

}

.icons img:nth-child(2) {
    animation-delay: 1s;
    opacity: 0;

}

.icons img:nth-child(3) {
    animation-delay: 4s;
    opacity: 0;
    width: 50px;
    animation-duration: 5s;
}

.icons img:nth-child(4) {
    animation-delay: 5s;
    opacity: 0;
    animation-duration: 6s;

}

.icons img:nth-child(5) {
    animation-delay: 2.5s;
    opacity: 0;
    width: 40px;

}

.icons img:nth-child(6) {
    animation-delay: 7s;
    opacity: 0;
    width: 55;
    animation-duration: 4;
}






.DB_icons img {
    width: 50px;
    animation: DB_icon 7s linear infinite;
}


.DB_icons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}


@keyframes DB_icon {
    0% {
        /* transform: translateY(0); */
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        /* transform: translateY(-80vh); */
        opacity: 0;
    }
}

.DB_icons img:nth-child(1) {
    animation-delay: 3s;
    opacity: 0;
    width: 44px;
    animation-duration: 6s;
    transform: translateY(-867px);
}

.DB_icons img:nth-child(2) {
    animation-delay: 2s;
    opacity: 0;
    width: 60px;
    animation-duration: 10s;
    transform: translateY(-250px);
}

.DB_icons img:nth-child(3) {
    animation-delay: 0s;
    opacity: 0;
    width: 44px;
    animation-duration: 7s;
    transform: translateY(-300px);
}

.DB_icons img:nth-child(4) {
    animation-delay: 2.5s;
    opacity: 0;
    width: 74px;
    animation-duration: 8s;
    transform: translateY(-920px);

}

.DB_icons img:nth-child(5) {
    animation-delay: 1s;
    opacity: 0;
    width: 68px;
    transform: translateY(-122px);

}

.DB_icons img:nth-child(6) {
    animation-delay: 4s;
    opacity: 0;
    width: 35;
    transform: translateY(-512px);
}