tr {
    font-size: 20px
}

.doctorImage {
    height: 200px;
    width: auto;
    border-radius: 200px;
    opacity: 0.7;
}

.label_tree {
    font-size: 30px;
    opacity: 0.7;
    text-align: center;
    font-family: arial;
}

.doctorMenu {
    grid-area: doctorMenu;

}

.hospital_label {
    display: flex;
    flex-direction: column;
    width: 200px;
    grid-area: hospital_label;
}

.reg_table {
    grid-area: reg_table;
}

.mainGrid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-row-gap: 25px;
    grid-column-gap: 25px;

    grid-template-areas:
        "doctorMenu  gridTable";

    position: relative;
    left: 20px;
    top: 20px;
}

.gridTable {
    grid-area: gridTable;
    position: relative;
    left: -50px;
}

.left_grid {
    display: grid;
    grid-template-columns: 250px auto;

    grid-template-areas:
        "hospital_label  reg_table";
}

.recom_text {
    max-width: 570px;
    overflow-wrap: break-word;
    font-size: 25px;
}

.delete {
    position: initial;
}

.delete_input {
    width: 100px;
}

.Back_Del {
    display: flex;
    justify-content: space-between;
}