<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->

    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>



    <script src="/static/replace_image.js"></script>
    <!-- <script src="/static/segmentation_image.js"></script> -->

    <link rel="stylesheet" href="/static/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>


</head>

<body>

    <div class="mainGrid">
        <!-- 4 Картинки и отсальное -->
        <div class="grid-container">

            <section class="axial_slider">
                <h5 id="lbl_axial"></h5>
                <div id="slider_axial"></div>

            </section>

            <div class="countSegmentsDiv">
                <label for="countSegments">Number of segments :</label>
                <input type="number" class="countSegments" value="10" min="1" id="countSegments">

                <button class="btn btn-success start_segmentation" id="start_segmentation">Segmentation</button>
                <button class="btn btn-primary start_mask" disabled id="start_mask">Mask</button>
            </div>

            {# {% for i in images%} #}
            <img src="{{axial }}" alt="User Image" id="axial_image" class="axial_image">

            <img src="{{segmentation}}" id="segmentation_image" class="segmentation_image">

            <section class="coronal_slider">
                <h5 id="lbl_coronal"></h5>
                <div id="slider_coronal"></div>
            </section>

            <section class="sagital_slider">
                <h5 id="lbl_sagital"></h5>
                <div id="slider_sagital"></div>
            </section>

            <img src="{{coronal }}" alt="User Image" id="coronal_image" class="coronal_image">

            <img src="{{sagital }}" alt="User Image" id="sagital_image" class="sagital_image">

            {# {% endfor %} #}

        </div>
        <!-- Таблица с данными -->
        <div class="gridTable" id="gridTable">
            <div class="containerTable">
                <table class="table ">
                    <thead class="thead-dark">
                        <th scope="col">#</th>
                        <th scope="col">Parameter</th>
                        <th scope="col">Value</th>
                    </thead>
                    {%for number,name,item in tabel%}
                    <tbody>
                        <tr>
                            <th scope="row">{{number}}</th>
                            <td>{{name}}</td>
                            <td>{{item}}</td>
                        </tr>
                    </tbody>
                    {%endfor %}
                </table>
            </div>
            <div class="notes" id="notes">

                <button class="btn btn-primary " id="SQL">Add entry</button>

                <label for="name" id='scan_object_title'>Write a scan object:</label>
                <input type="text" id="scan_object" name="scan_object">

                <label id='add_full_name_title'>Write a full name:</label>
                <span contenteditable="true" id='full_name' style="display: inline-block; 
                    border: solid 1px black;
                    min-width: 50px; 
                    max-width: 511px">
                </span>

                <label id='add_treatment_title'>Write a treatment:</label>
                <span contenteditable="true" id='treatment' style="display: inline-block; 
                    border: solid 1px black;
                    min-width: 50px; 
                    max-width: 511px">
                </span>

                <label id='add_direction_title'>Write a direction:</label>
                <span contenteditable="true" id='direction' style="display: inline-block; 
                    border: solid 1px black;
                    min-width: 50px; 
                    max-width: 511px">
                </span>

                <label id='add_recomendation_title'>Write a Reccomendation:</label>
                <span contenteditable="true" id='recomendation' style="display: inline-block; 
                    border: solid 1px black;
                    min-width: 50px; 
                    max-width: 511px">
                </span>

            </div>

        </div>

    </div>



    <section>
        <script type="text/javascript">
            $("#start_segmentation").click(function () {
                var buttonSegm = document.getElementById("start_segmentation")
                buttonSegm.disabled = true
                $.ajax({
                    type: "POST",
                    url: "/showDicom",
                    contentType: "application/json",
                    data: JSON.stringify({
                        type: "dicom_segmentation",
                        countSegments: $('input[class=countSegments]').val()
                    }),
                    success: function (response) {
                        var imgAxial = document.getElementById("axial_image")
                        imgAxial.style.gridColumn = "50px"

                        var imgSegment = document.getElementById("segmentation_image")
                        imgSegment.style.display = "flex"

                        $(imgSegment).attr('src', response.img)

                        buttonSegm.disabled = false

                        var buttonMask = document.getElementById("start_mask")
                        buttonMask.disabled = false
                    }
                })
            });
        </script>
    </section>


    <!-- SCRIPTS -->

    <section>
        <!-- MASK -->
        <script type="text/javascript">
            $("#start_mask").click(function () {
                var buttonMask = document.getElementById("start_mask")
                buttonMask.disabled = true

                $.ajax({
                    type: "POST",
                    url: "/showDicom",
                    contentType: "application/json",
                    data: JSON.stringify({
                        type: "mask",
                    }),
                    success: function (response) {
                        $('#axial_image').attr('src', response.img);

                        $('#sagital_image').attr('src', response.img);

                        $('#coronal_image').attr('src', response.img);

                    }

                })
            });
        </script>
        <!-- SQL -->
        <script type="text/javascript">
            $("#SQL").click(function () {
                const text = document.getElementById('scan_object')
                $.ajax({
                    type: "POST",
                    url: "/showDicom",
                    contentType: "application/json",
                    data: JSON.stringify({
                        type: "SQL",
                        text_value: text.value,
                        full_name: document.getElementById('full_name').textContent,
                        recomendation: document.getElementById('recomendation').textContent,
                        treatment: document.getElementById('treatment').textContent,
                        direction: document.getElementById('direction').textContent

                    }),
                    success: function (response) {
                        var check = response.check
                        if (check == 'true') {
                            // const SQL = document.getElementById("SQL")
                            // SQL.remove()
                            // const div_content = document.getElementById('notes')
                            // div_content.remove()

                            const newDiv = document.createElement("div");
                            newDiv.setAttribute("class", 'alert alert-success')
                            newDiv.setAttribute("role", 'alert')

                            newDiv.setAttribute("id", 'alert')

                            const title = document.createTextNode('SUCCESS');

                            newDiv.appendChild(title);

                            const table = document.getElementById("gridTable");
                            table.appendChild(newDiv)
                        }
                        else {

                            const newDiv = document.createElement("div");
                            newDiv.setAttribute("class", 'alert alert-danger')
                            newDiv.setAttribute("role", 'alert')

                            newDiv.setAttribute("id", 'alert')


                            const title = document.createTextNode('ERROR' + " " + response.error);

                            newDiv.appendChild(title);

                            const table = document.getElementById("gridTable");
                            table.appendChild(newDiv)
                        }
                    }
                })
            });
        </script>

    </section>



    <!-- <form method="post" class="form" id="segmentation_form">
        
    </form> -->

</body>

</html>