<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <div class="gridContainer">
        <div class="showDicom ">
            <h1>Dicom File</h1>

            <form method="POST" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                {{form.file()}}
                {{form.submit(class="btn btn-primary")}}
            </form>

            <form class="grid" action="/showDicom" onsubmit='disableButton()'>
                <input type="Submit" class="btn btn-success showDicom_Button" id='showDicom' value="Show Dicom"
                    {{status}} />
            </form>

            <script>
                function disableButton() {
                    var btn = document.getElementById('showDicom');
                    btn.disabled = true;
                    btn.innerText = 'Posting...'
                }
            </script>


            <div class="icons">
                <img src="static/images/Optional/index_image_animation/1.png">
                <img src="static/images/Optional/index_image_animation/2.png">
                <img src="static/images/Optional/index_image_animation/3.png">
                <img src="static/images/Optional/index_image_animation/4.png">
                <img src="static/images/Optional/index_image_animation/5.png">
                <img src="static/images/Optional/index_image_animation/6.png">
            </div>


        </div>



        <div class="ShowDataBase">

            <form action="/showDB" onsubmit='disableButton()'>
                <input type="Submit" class="btn btn-info showDataBase_Button" value="Show Data Base" />
            </form>

            <div class="DB_icons">
                <img src="static/images/Optional/index_image_animation/database1.png">
                <img src="static/images/Optional/index_image_animation/database2.png">
                <img src="static/images/Optional/index_image_animation/database3.png">
                <img src="static/images/Optional/index_image_animation/database4.png">
                <img src="static/images/Optional/index_image_animation/database5.png">
                <img src="static/images/Optional/index_image_animation/database6.png">
            </div>


        </div>
    </div>


</body>

</html>